.searchBy {
  width: 100%;
  font-size: 3rem;
  text-decoration: underline;
  color: #2A77AE;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  font-size: 32px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

span {
  font-size: 24px;
}

.searchBy {
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0px;
}

h4 {
  font-size: 24px;
}

label {
  color: white;
}

select {
  background-color: wheat;
}